<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.d2d.automations">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="D2D Check Stock"
        android:hasCode="false">

        <activity
            android:name="android.app.NativeActivity"
            android:exported="true"
            android:label="D2D Check Stock"
            android:configChanges="orientation|keyboardHidden|screenSize|density">

            <!-- lib_name must match the [lib] name in Cargo.toml -->
            <meta-data
                android:name="android.app.lib_name"
                android:value="d2d_automations"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
